################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/confmailsend/FileContentIndex/926d5f6b-ccc7-4651-bf9f-6b9c4f232ae5.vsidx
*.vsidx
*.wsuo
